# 리스트

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [4]:
score = [20,30,50,90,100]
score[0] #첫번째 학생 점수
score[-1], score[4] #마지막 학생 점수

(100, 100)

In [7]:
fruits = ['사과', '바나나', '포도']
mixed = ['사과',2,'바나나',30,True]
matrix = [[1,2],[3,4]]

In [9]:
matrix[0]

[1, 2]

In [10]:
matrix[0][0]

1

In [11]:
score2 = [10, [1,2,3,4], 20]
score2[1][3]

4

In [12]:
print(score2)

[10, [1, 2, 3, 4], 20]

In [13]:
print(score2[1][3])

4

In [14]:
str(fruits)

"['사과', '바나나', '포도']"

In [15]:
s_list = 'Hello'
s_list[0] = 'h'

TypeError: 'str' object does not support item assignment

In [16]:
n_list = list(s_list)
type(n_list), n_list

(list, ['H', 'e', 'l', 'l', 'o'])

In [17]:
n_list[0] = 'h'
n_list

['h', 'e', 'l', 'l', 'o']

In [23]:
str(n_list) #함수: 기능의 집합

"['h', 'e', 'l', 'l', 'o']"

In [24]:
''.join(n_list) #메소드: 객체에 종속되어 있는 함수

'hello'

In [ ]:
# method, function 함수

In [25]:
a = range(5)
list(a)

[0, 1, 2, 3, 4]

In [28]:
list(range(2,20,1))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
## 복사, 얕은 복사 shallow copy

In [37]:
score = [10,20,30,40,50]
new_score = score #[:]
new_score

[10, 20, 30, 40, 50]

In [38]:
new_score[0]=100
new_score

[100, 20, 30, 40, 50]

In [39]:
score

[100, 20, 30, 40, 50]

In [43]:
## 깊은 복사 deep copy

In [42]:
import copy
new_score_1 = copy.copy(score)
new_score_1[1]=90
new_score_1, score

([100, 90, 30, 40, 50], [100, 20, 30, 40, 50])

In [44]:
## 리스트의 연산자 +*

In [46]:
lunch_1 = ['해물라면','샐러드','떡볶이']
lunch_2 = ['짜장면','짬뽕']
lunch_1 + lunch_2

['해물라면', '샐러드', '떡볶이', '짜장면', '짬뽕']

In [47]:
lunch_1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [48]:
del lunch_1[0]
lunch_1

['샐러드', '떡볶이']

In [49]:
'떡볶이' in lunch_1

True

In [50]:
'a' in 'abcd'

True

In [57]:
# 연습문제
snack_box = []
#먹고 싶은 간식을 입력받아서 추가하세요

In [59]:
new_snack = list(input('먹고 싶은 간식을 입력하세요: ').split(','))
snack_box = snack_box + new_snack
snack_box

먹고 싶은 간식을 입력하세요:  초코파이

['초코파이', '초코파이']

In [71]:
snack_box = ['홈런볼']
new_snack = input('먹고 싶은 간식을 입력하세요: ').split(',')
snack_box += new_snack
snack_box

먹고 싶은 간식을 입력하세요:  초코파이, 마카롱

['홈런볼', '초코파이', ' 마카롱']

In [67]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

['홈런볼', '초코파이', '홈런볼', '초코파이']

In [68]:
# 빼고 싶은 간식이 있으면 번호를 입력하세요
del_n = int(input('빼고 싶은 간식이 있으면 번호를 입력하세요'))-1
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요 1

['초코파이', '홈런볼', '초코파이']

In [72]:
f_name = input('찾고 있는 간식 이름을 입력하세요')
if f_name in snack_box:
    print('있어요!!')
else:
    print('없네요..')

찾고 있는 간식 이름을 입력하세요 초코파이

있어요!!

In [77]:
snack_box.reverse()
snack_box

[' 마카롱', '초코파이', '홈런볼']

In [79]:
print('스낵 박스 목록을확인하세요')
print(snack_box[::-1])

스낵 박스 목록을확인하세요
['홈런볼', '초코파이', ' 마카롱']

In [ ]:
## ==, is

In [2]:
lunch_1 = ['주먹밥', '치킨', '칼국수'] # lunch_1은 주소라고 생각?
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2 # 실제 값 비교할 때

True

In [3]:
id(lunch_1) == id(lunch_2) # 실제로는 다르다?

False

In [4]:
lunch_1 is lunch_2 # 주소값? 객체값?이 같은지 확인(id를 확인)

False

In [17]:
students = [{'num':'1', 'name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2', 'name':'park', 'kor':90, 'math':60,'eng':80,},
            {'num':'3', 'name':'hong', 'kor':70, 'math':70,'eng':80,},
           {'num':'4', 'name':'hong1', 'kor':70, 'math':70,'eng':80,},
           {'num':'5', 'name':'hong2', 'kor':70, 'math':70,'eng':80,},]

In [18]:
students[1]['name']

'park'

In [19]:
for s in students:
    print(s)
    print('\n')

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}


{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80}


{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80}


{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80}


{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80}

In [21]:
for stu in students:
    stu['total'] = stu['kor'] + stu['math'] + stu['eng']
    print(stu['total'])
    print('\n')

270


230


220


220


220

In [22]:
#인덱싱하기
students[0]['kor']

80

In [23]:
students

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270},
 {'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230},
 {'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220},
 {'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220},
 {'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}]

In [42]:
for st in students:
    st['ave'] = round((stu['kor'] + stu['math'] + stu['eng'])/3,2)
    print(st['ave'])

73.33
73.33
73.33
73.33
73.33

In [40]:
forstudents

[{'num': '1',
  'name': 'kim',
  'kor': 80,
  'math': 90,
  'eng': 100,
  'total': 270,
  'ave': 73.33},
 {'num': '2',
  'name': 'park',
  'kor': 90,
  'math': 60,
  'eng': 80,
  'total': 230,
  'ave': 73.33},
 {'num': '3',
  'name': 'hong',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'ave': 73.33},
 {'num': '4',
  'name': 'hong1',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'ave': 73.33},
 {'num': '5',
  'name': 'hong2',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'ave': 73.33}]

# 리스트의 정렬

In [43]:
num = [5,2,9,3,4]
num.sort()

In [44]:
num

[2, 3, 4, 5, 9]

In [47]:
num = [5,2,9,3,4]
new_num = sorted(num)

In [46]:
num

[5, 2, 9, 3, 4]

In [48]:
new_num

[2, 3, 4, 5, 9]

In [50]:
# 순위는 다음에..

In [51]:
# 리스트의 메소드

In [1]:
fruits = ['사과', '홍시', '포도', '복숭아']
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [2]:
fruits.insert(1, '수박')
fruits

['사과', '수박', '홍시', '포도', '복숭아', '멜론']

In [3]:
fruits.remove('수박')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [4]:
fruits.pop()

'멜론'

In [9]:
fruits.reverse()
fruits

['복숭아', '포도', '홍시', '사과']

In [10]:
# 리스트의 특징

In [14]:
data = list(range(-100,100))
print(len(data))

200

In [15]:
# 리스트에 양수만 남긴다
for x in data :
    if x < 0 :
        data.remove(x)

In [16]:
data

[-99,
 -97,
 -95,
 -93,
 -91,
 -89,
 -87,
 -85,
 -83,
 -81,
 -79,
 -77,
 -75,
 -73,
 -71,
 -69,
 -67,
 -65,
 -63,
 -61,
 -59,
 -57,
 -55,
 -53,
 -51,
 -49,
 -47,
 -45,
 -43,
 -41,
 -39,
 -37,
 -35,
 -33,
 -31,
 -29,
 -27,
 -25,
 -23,
 -21,
 -19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [17]:
data = list(range(-100,100))

filtered = []
for x in data:
    if x >= 0 :
        filtered.append(x)

print(filtered)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [19]:
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
#[1, 3, 5, 4, 2] > [5, 4, 3, 2, 1]

In [23]:
list = [1, 3, 5, 4, 2]
list.sort()
list.reverse()
list

# list.sort(reverse=True)

[5, 4, 3, 2, 1]

In [ ]:
#['Life', 'is', 'too', 'short'] > "Life is too short"

In [28]:
a = ['Life', 'is', 'too', 'short']
print(a[0],a[1],a[2],a[3])
# ' '.join(a)

Life is too short

In [ ]:
#[1, 3, 5, 7, 9] > [3, 5, 7, 9, 1]

In [31]:
b = [1, 3, 5, 7, 9]
b.reverse()
c= b.pop()
b.reverse()
b.append(c)
b

# c = b.pop(0)
# b.append(c)
# b

[3, 5, 7, 9, 1]

In [34]:
# 튜플

In [36]:
tuple1 = 1,2,3
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [37]:
1,2,3

(1, 2, 3)

In [39]:
tuple2 = tuple([1,2,3])
tuple2, type(tuple2)

((1, 2, 3), tuple)

In [40]:
t3 = (2)
t3, type(t3)

(2, int)

In [41]:
t4 = (2,)
t4, type(t4)

((2,), tuple)

In [1]:
t = (10,20,30,40,50)
t[1], t[-1]

(20, 50)

In [46]:
t[2:4]

(30, 40)

In [47]:
t[::-1]

(50, 40, 30, 20, 10)

In [2]:
t_list = list(t)
t_list[0] = 20
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

In [3]:
#패킹, 언패킹

In [4]:
nums = [1,2,3]
nums

[1, 2, 3]

In [7]:
nums = (1,2,3) #패킹
x,y,z = nums
x,y,z, nums #언패킹

(1, 2, 3, (1, 2, 3))

In [10]:
student = ['hong', 20, '1학년']
student[0] + " " + str(student[1]) + " " + student[2]

'hong 20 1학년'

In [12]:
student_tuple = (student)
student_tuple

['hong', 20, '1학년']

In [15]:
name, age, grade = (student)
name + str(age) + grade

'hong201학년'

In [16]:
x=1
y=2
# 출력 x=2, y=1
tmp = x
x = y
y = tmp
x, y

(2, 1)

In [17]:
x,y = y,x

In [18]:
x,y

(1, 2)

In [19]:
# 딕셔너리

In [35]:
person = {"이름" : "alice", 'age' : 25, 'city' : "서울" }
person_1 = {"이름" : "bob", 'age' : 30, 'city' : "부산" }

In [22]:
person["이름"]

'alice'

In [23]:
person['age'], person['city']

(25, '서울')

In [25]:
for per in person.values():
    print(per) # key:value 1쌍

alice
25
서울

In [28]:
for per, val in person.items() :
    print(per, val)

이름 alice
age 25
city 서울

In [36]:
person

{'이름': 'alice', 'age': 25, 'city': '서울'}

In [39]:
person.get('직업')

In [40]:
person.get('age')

25

In [41]:
print(person.keys())

dict_keys(['이름', 'age', 'city'])

In [42]:
print(person.values())

dict_values(['alice', 25, '서울'])

In [43]:
print(person.items())

dict_items([('이름', 'alice'), ('age', 25), ('city', '서울')])

In [44]:
print(person.pop("age"))

25

In [45]:
person = {"이름": "Alice", "나이": 25}
person.update({"나이":26, "직업": "개발자"})
print(person)

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [47]:
print(person.get("거주지", "정보 없음"))

정보 없음

In [49]:
d = {"a":1, "b":2}
print(list(d.keys()))
print(list(d.values()))
for k, v in d.items() :
     print(k,v)

print(d.get("x",0))

['a', 'b']
[1, 2]
a 1
b 2
0

In [51]:
jop_cur_status = person.get('직업','정보없음')
jop_cur_status

'개발자'

In [ ]:
if jop_cur_status == '정보없음' :
    new_jop = input('직업을 입력해주세요: ')
    person.update('직업':new_jop)

In [52]:
## 집합

In [53]:
집합1 = set([1,2,3,4,])
집합1

{1, 2, 3, 4}

In [54]:
집합2 = set([1,2,3,4,4,3])
집합2

{1, 2, 3, 4}

In [56]:
집합3 = set([1,2,3,4,]*10)
집합3

{1, 2, 3, 4}

In [57]:
dir(집합3)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [58]:
# 집합연산
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  # {1, 2, 3, 4, 5, 6} (합집합)
print(A & B)  # {3, 4} (교집합)
print(A - B)  # {1, 2} (차집합)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}