In [4]:
import pymysql

# 새로운 방식
con = pymysql.connections.Connection(
    host='localhost',
    user='root',
    password='1234',
    db='wntrade',
    charset='utf8'
)

# 커서 생성
cursor = con.cursor()

# 쿼리 실행 예시
sql_query = """
SELECT 사원번호, 이름, 부서명
FROM 사원 LEFT JOIN 부서
ON 사원.부서번호 = 부서.부서번호
"""

cursor.execute(sql_query)
# 쿼리 결과 가져오기
result = cursor.fetchall()
# 결과 출력
for row in result:
 print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [5]:
cursor.close()
con.close()