#Series

In [1]:
import pandas as pd

In [10]:
s1 = pd.Series([10, 20, 30])
s1[0:2]

0    10
1    20
dtype: int64

In [14]:
col_idx = ['A', 'B', 'C']
data = [10,20,30]
s2 = pd.Series(data, index=col_idx)

In [15]:
s2['A':'C']

A    10
B    20
C    30
dtype: int64

In [17]:
dict_data = {'A':10, 'B':20, 'C':30}
type(dict_data)
s3 = pd.Series(dict_data)

In [18]:
s3

A    10
B    20
C    30
dtype: int64

In [19]:
# 리스트로 시리즈 생성
data = [1, 2, 3, 4, 5]
s1 = pd.Series(data)
print(s1)

# 인덱스 지정하여 시리즈 생성
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(data, index=index)
print(s2)

# 딕셔너리로 시리즈 생성 - 키가 인덱스가 됨
dict_data = {'a':1, 'b':2, 'c':3, 'd':4}
s3 = pd.Series(dict_data)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [20]:
population = pd.Series([9776, 2729, 1566, 3158], 
                    index=['서울', '부산', '인천', '대구'])
print(population['서울'])  # 9776 출력
print(population[['서울', '부산']])  # 서울과 부산의 데이터만 선택

9776
서울    9776
부산    2729
dtype: int64