# for 문

In [4]:
range(10), type(range(10))

(range(0, 10), range)

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
# 1~100 사이의 4의 배수 출력하기 range(start, stop, step)
for i in range(4,100,4):
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [10]:
data = [0,1,2,3,4]
data

[0, 1, 2, 3, 4]

In [11]:
for var in data:
    print(var)

0
1
2
3
4

In [12]:
data = ['james', 'robert', 'risa']
data

['james', 'robert', 'risa']

In [13]:
for var in data:
    print(var)

james
robert
risa

In [14]:
%%time
sum=0
for i in range(1,1000001):
    sum += i
print(sum)

500000500000
CPU times: total: 281 ms
Wall time: 293 ms

In [28]:
# 문자열 순회
isUpper = False
isDigit = False
isLower = False
isSpecial = False
special_char = '!@#$%^&*()?'

password = 'a1!!'
# 비밀번호 조건 만족여부 확인
for char in password :
    if char.isupper() : # 대문자인지 확인
        isUpper = True
    elif char.isdigit() : # 숫자인지 확인
        isDigit = True
    elif char.islower() : # 소문자인지 확인
        isLower = True
    elif char in special_char : # 특수문자 확인
        isSpecial = True
    check_result = isUpper + isDigit + isLower + isSpecial
print(f"비밀번호 강도 조건 만족여부 : { ' 만족' if check_result == 4 else '불만족'}")

비밀번호 강도 조건 만족여부 : 불만족

In [31]:
obj = range(1,4)
type(obj)

range

In [32]:
dir(obj)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [35]:
#방문자
visitor_ids = [101, 102, 103, 101, 104, 102, 105, 101, 103]
#순방문자
unique_visitor = set(visitor_ids)
unique_visitor

{101, 102, 103, 104, 105}

In [36]:
#총방문횟수
print(f'총방문횟수 : {len(visitor_ids)}')
print(f'순방문횟수 : {len(unique_visitor)}')
#고유방문자 목록 출력
for visitor_id in unique_visitor:
    print(f'사용자 #{visitor_id}')

총방문횟수 : 9
순방문횟수 : 5
사용자 #101
사용자 #102
사용자 #103
사용자 #104
사용자 #105

# 중첩반복문

In [38]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [41]:
for i in range(2,10):
    for j in range(1,10):
       print(f'{i}*{j} = {j*i}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [44]:
for i in range(2,10):
    if i % 2 == 0:
        for j in range(1,10):
            print(f'{i}*{j} = {j*i}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72

In [ ]:
for i in range(2,10):
    for j in range(1,10):
       print(f'{i}*{j} = {j*i}')

# 내장함수 enumerate()

In [45]:
char_list = ['a', 'b', 'c']

for x in char_list:
    print(x)

for i, v in enumerate(char_list): 
    print(i,v)

a
b
c
0 a
1 b
2 c

In [46]:
list(enumerate(char_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [47]:
dir(enumerate(char_list))

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [48]:
list(enumerate(char_list,1))

[(1, 'a'), (2, 'b'), (3, 'c')]

# 내장함수 zip()

In [51]:
char_list_2 = ['hello', 'hi', 'good-bye']
for item in zip(char_list, char_list_2) :
	print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [52]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print(f"{name}은(는) {age}살이고 {city}에 살고 있습니다.")

Alice은(는) 25살이고 서울에 살고 있습니다.
Bob은(는) 30살이고 부산에 살고 있습니다.
Charlie은(는) 35살이고 대구에 살고 있습니다.

In [59]:
# 날짜 입력받기 > 요일을 출력하는 기능
year = int(input('년도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day = int(input('일을 입력하시오: '))

년도를 입력하시오:  2026
월을 입력하시오:  1
일을 입력하시오:  5

In [60]:
import datetime
calc_day = datetime.date(year, month, day).weekday() # 요일값 0 ~ 월 ~
week_day = ['월', '화', '수', '목', '금', '토', '일']
#week_day[calc_day]
print(f'{week_day[calc_day]}요일 입니다.')

월요일 입니다.

In [ ]:
# 총일수 % 7 -> calc_day
# 입력일 : 2025-10-5
# 년도 : 1 ~ 2024 년도수 * 365 | 366
# 월 : 1 ~ 9월 * 30(4,6,9,11) | 31(1,3,5,7,8,10,12) | 28|29(2-윤년,평년)
# 일 : 일

In [25]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)


def days_in_month(year, month):
    if month in [1, 3, 5, 7, 8, 10, 12]:
        return 31
    elif month in [4, 6, 9, 11]:
        return 30
    elif month == 2:
        return 29 if is_leap_year(year) else 28


def get_weekday(year, month, day):
    total_days = 0

    # 1️⃣ 이전 연도 일수
    for y in range(1, year):
        total_days += 366 if is_leap_year(y) else 365

    # 2️⃣ 이전 월 일수
    for m in range(1, month):
        total_days += days_in_month(year, m)

    # 3️⃣ 일
    total_days += day

    # 4️⃣ 요일 계산
    week = ["월", "화", "수", "목", "금", "토", "일"]
    return week[total_days % 7]


# ===============================
# 입력 예시
year = int(input("요일을 확인할 년도를 입력하세요(예:2025): "))
month = int(input("요일을 확인할 월을 입력하세요(예:05): "))
day = int(input("요일을 확인할 일을 입력하세요(예:11): "))

print(f"{year}-{month}-{day} 요일:", get_weekday(year, month, day))

요일을 확인할 년도를 입력하세요(예:2025):  2026
요일을 확인할 월을 입력하세요(예:05):  1
요일을 확인할 일을 입력하세요(예:11):  4

2026-1-4 요일: 월

In [28]:
year = int(input("요일을 확인할 년도를 입력하세요(예:2025): "))
month = int(input("요일을 확인할 월을 입력하세요(예:05): "))
day = int(input("요일을 확인할 일을 입력하세요(예:11): "))

# 연도 계산
total_days = 0

for i in range(1,year): # 2024년까지
    if i % 400 == 0: #윤년
        total_days += 366
    elif i % 100 == 0: #평년
        total_days += 365
    elif i % 4 == 0: #윤년
        total_days += 366
    else :
        total_days += 365

print(f'1st : {total_days}, {year}')

# 월 날수 계산
month_days = [0,31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for m in range(1,month):
    total_days += month_days[m]
    
print(f'2nd : {total_days}, {year}, {month}')

# 올해가 윤년인지 체크 +1
if month >=3 :
    if year % 400 == 0: #윤년
        total_days += 1
    elif year % 100 == 0: #평년
        total_days += 0
    elif year % 4 == 0: #윤년
        total_days += 1
    else :
        total_days += 0

print(f'3nd : {total_days}, {year}, {month},{day}')

total_days += day

print(f'final : {total_days}, {year}, {month}, {day}')

# 연도 + 월 + 일 % 7 > 요일에 나타나는 수
remain = total_days % 7
result = None
요일 = ["일", "월", "화", "수", "목", "금", "토"]

result = 요일[remain]

print(f'{year}년 {month}월 {day}일은 {result}요일입니다')

요일을 확인할 년도를 입력하세요(예:2025):  2025
요일을 확인할 월을 입력하세요(예:05):  12
요일을 확인할 일을 입력하세요(예:11):  26

1st : 739251, 2025
2nd : 739585, 2025, 12
3nd : 739585, 2025, 12,26
final : 739611, 2025, 12, 26
2025년 12월 26일은 금요일입니다

In [3]:
# 학생별 총점, 평균, 순위 -> 속성 추가
# 전체 총점, 평균 출력
# 과목별 평균 출력
students = [{'num':'1', 'name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2', 'name':'park', 'kor':90, 'math':60,'eng':80,},
            {'num':'3', 'name':'hong', 'kor':70, 'math':70,'eng':80,},
           {'num':'4', 'name':'hong1', 'kor':70, 'math':70,'eng':80,},
           {'num':'5', 'name':'hong2', 'kor':70, 'math':70,'eng':80,},]

In [5]:
for student in students:
    student['total'] = student['kor'] + student['math'] + student['eng']
    student['ave'] = round(student['total']/3,2)

for s in students:
    s['rank'] = 1

for i in range(len(students)):
    for j in range(len(students)):
        if students[i]['total'] < students[j]['total']:
            students[i]['rank'] += 1

total_sum = 0
for t in students:
    total_sum += t['total']

total_ave = round(total_sum / (len(students)*3),2)

total_kor = 0
total_math = 0
total_eng = 0

for q in students:
    total_kor = q['kor']
    total_math = q['math']
    total_eng = q['eng']

ave_kor = round(total_kor,2)
ave_math = round(total_math,2)
ave_eng = round(total_eng,2)


print(students)
print(f'전체총점 : {total_sum} \n전체평균 : {total_ave} \n국어평균 : {ave_kor} \n수학평균 : {ave_math} \n영어평균 : {ave_eng}')

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'ave': 90.0, 'rank': 1}, {'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230, 'ave': 76.67, 'rank': 2}, {'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'ave': 73.33, 'rank': 3}, {'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'ave': 73.33, 'rank': 3}, {'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'ave': 73.33, 'rank': 3}]
전체총점 : 1160
전체평균 : 77.33
국어평균 : 70
수학평균 : 70
영어평균 : 80

# while 문

In [8]:
sum = 0 #초기화
for i in range(1,11): #1~10
    sum += i #처리
    
sum # 출력

55

In [2]:
#초기화
sum = 0
i = 1

while True : #조건
    sum += i
    i += 1
    if i >= 11 : #조건식
        break
print(sum, i)

55 11

In [3]:
user_input = None
while user_input != "Exit":
    user_input = input('명령을 입력하세요 (Exit를 넣으면 종료합니다.)')
    print(f'입력하신 명령은 {user_input}입니다.')

print('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit를 넣으면 종료합니다.) s

입력하신 명령은 s입니다.

명령을 입력하세요 (Exit를 넣으면 종료합니다.) exit

입력하신 명령은 exit입니다.

명령을 입력하세요 (Exit를 넣으면 종료합니다.) Exit

입력하신 명령은 Exit입니다.
Exit 명령을 입력하셨습니다.

In [1]:
sum = 0
i = 1

while i < 11 :
    sum += i
    i += 1

print(sum)

55

In [2]:
i = 1
while i <6 :
    print('*'*i)
    i += 1

*
**
***
****
*****

In [3]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

# 업앤다운 게임

In [5]:
import random
number = random.randint(1,10)
number # 컴퓨터의 선택

6

In [10]:
# 정답 맞추기
cnt = 0
while True:
    answer = int(input('1~10 사이의 숫자를 입력하세요.'))
    cnt += 1
    if answer == number :
        print(f'축하합니다. 정답입니다. 도전횟수 : {cnt}')
        break
    elif answer > number :
        print('DOWN')
    elif answer < number :
        print('UP')

1~10 사이의 숫자를 입력하세요. 1

UP

1~10 사이의 숫자를 입력하세요. 2

UP

1~10 사이의 숫자를 입력하세요. 3

UP

1~10 사이의 숫자를 입력하세요. 4

UP

1~10 사이의 숫자를 입력하세요. 5

UP

1~10 사이의 숫자를 입력하세요. 6

축하합니다. 정답입니다. 도전횟수 : 6