# 시작하기

In [1]:
3000*2

6000

In [9]:
print("hello python")
print(32)
print('hi')
print('계산 : ', 3000*2, '입니다')
print('오늘 매출은 ', 10*20000, '입니다.')

hello python
32
hi
계산 :  6000 입니다
오늘 매출은  200000 입니다.

In [10]:
sale = 10 * 2000
print("오늘 매출은 ", sale, "입니다")

오늘 매출은  20000 입니다

In [17]:
# 성장률 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
성장률 = (2000-1000)/1000*100

In [18]:
print("이번달 성장률은 ", 성장률, "% 입니다")

이번달 성장률은  100.0 % 입니다

In [22]:
# 성장율 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
이번달매출 = 2000
지난달매출 = 1000
성장율 = (이번달매출-지난달매출)/지난달매출*100

In [23]:
print("이번달 성장율은 ", 성장율," % 입니다")

이번달 성장율은  100.0  % 입니다

In [30]:
input('이번달 매출액을 입력하세요')

이번달 매출액을 입력하세요 1000

'1000'

In [35]:
이번달매출 = input('이번달 매출액을 입력하세요 : ')
지난달매출 = input('지난달 매출액을 입력하세요 : ')
print(이번달매출, 지난달매출)

이번달 매출액을 입력하세요 :  2000
지난달 매출액을 입력하세요 :  1000

2000 1000

In [37]:
name = input("당신의 이름을 입력해주세요 : ")
print("반갑습니다.", name+"님")

당신의 이름을 입력해주세요 :  김성민

반갑습니다. 김성민님

# print()의 활용

In [3]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량
print(매출)

10000

In [5]:
print("이번달 매출은 ", 매출, "입니다.", sep="")

이번달 매출은 10000입니다.

In [6]:
print("appple", "banana", "cherry", sep=", ")

appple, banana, cherry

In [15]:
#apple, banana, cherry
과일목록1 = "apple"
과일목록2 = "banana"
과일목록3 = "cherry"
print(과일목록1, 과일목록2, 과일목록3, sep = ", ") #\n(줄바꿈), \t(탭(빈칸))

apple, banana, cherry

# data type

In [16]:
12345, '12345'

(12345, '12345')

In [17]:
type(12345), type('12345')

(int, str)

In [18]:
data = 12345
data2 = '12345'
type(data), type(data2)

(int, str)

In [20]:
12345+10, '12345'+'10'

(12355, '1234510')

In [21]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [25]:
print("이번달 매출은 ", 매출, "입니다.", sep="")

이번달 매출은 10000입니다.

In [28]:
#string format
name = 'smkim'
age = 20
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 smkim이고, 나이는 20입니다.

In [27]:
#fstring
name = 'smkim'
age = 20
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 smkim이고, 나이는 20입니다.

In [30]:
# 기본 입력
이름 = input('이름을 입력하세요: ')
print(f"입력한 이름: {이름}")

이름을 입력하세요:  김성민

입력한 이름: 김성민

In [32]:
# 숫자 입력
나이 = int(input("나이를 입력하세요: "))
print(f"내년 나이: {나이+1}")

나이를 입력하세요:  33

내년 나이: 34

In [34]:
type(int(age)+1)

int

In [35]:
age = '열살'
type(age)

str

In [36]:
age = 20.8
type(age)

float

In [37]:
student_name = 'smkim'
name_1 = 'smkim'

In [38]:
1_name = 'smkim'

SyntaxError: invalid decimal literal (2683155364.py, line 1)

In [39]:
PI = 3.141592 #constant 상수

In [40]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [41]:
#shift+tap 키 매개변수 확인
#tap 또 다른 함수 찾기

In [48]:
a = 30,20,10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [50]:
x,y,z = a #언패킹
x,y,z

(30, 20, 10)

In [44]:
b = 30,
type(b)

tuple

In [51]:
a = 10
b = a
a,b

(10, 10)

In [52]:
id(a), id(b)

(140736024898264, 140736024898264)

In [54]:
a=10
id(a), id(b) # 20 (140736024898584, 140736024898264)

(140736024898264, 140736024898264)

In [58]:
user_name = 'smkim' #snake
userName = 'smkim' #camel
username = 'smkim'
_name = 'smkim' #private
__name__ = 'smkim' #double underscore '던더' 숨겨진 시스템 기능

In [59]:
a = 'hi'
b = 'Hi'
id(a), id(b)

(140736024941024, 2448120600336)

In [60]:
a = 'Hi'
id(a), id(b)

(2448120600336, 2448120600336)

# 변수의 영역 namespace

지역변수, 전역변수

In [66]:
def local_exam(): #사용자정의함수
    local_var = 100 # 지역변수
    print(f"함수내부: {local_var}")

local_exam()
local_var = 200 # 전역변수
local_exam()
print(f"함수외부: {local_var}")

함수내부: 100
함수내부: 100
함수외부: 200

In [83]:
counter = 0
def inc_counter():
    global counter
    counter = counter + 1 # counter += 1
    print(counter)

inc_counter()
inc_counter()
inc_counter()

1
2
3

Hello World